#hero {
    margin: auto;
    background-image: url(../images/4568290.jpg);
}

#message {
    display: flex;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(100px);
    min-height: calc(100vh - max(8vh, calc(4vh + 50px)));
    width: 100vw;
}

#hero #message h1 {
    font-weight: 900;
    font-size: 60px;
    margin: auto;
    color: #fff;
}

#quotes {
    margin-top: 20vh;
    z-index: -1;
    width: 80vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(15, 1fr);
    margin-left: 10vw;
    margin-right: 10vw;
}

.quote {
    padding: 10vh 5vw;
    margin: -10vh -5vw;
    align-items: center;
    display: flex;
    text-align: center;
}

.quote h4{
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: x-large;
}

.quote p {
    font-size: larger;
}

#mathis {
    grid-column: 2;
    grid-row: 1;
    background: radial-gradient(circle, rgb(14,0,255) 0%, rgba(0,0,0,0) 60%);
}

#rafael {
    grid-column: 6;
    grid-row: 7;
    background: radial-gradient(circle, rgb(0, 255, 170) 0%, rgba(0,0,0,0) 50%);
}

#antoine {
    grid-column: 1 / 4;
    grid-row: 6 / 9;
    background: radial-gradient(circle, rgb(255, 0, 106) 0%, rgba(0,0,0,0) 60%);
}

#lucien {
    grid-column: 6;
    grid-row: 2;
    background: radial-gradient(circle, rgb(0, 204, 255) 0%, rgba(0,0,0,0) 40%);
}

#adam1 {
    grid-column: 8;
    grid-row: 4;
    background: radial-gradient(circle, rgb(140, 0, 255) 0%, rgba(0,0,0,0) 60%);
}

#adam2 {
    grid-column: 5;
    grid-row: 10;
    background: radial-gradient(circle, rgb(140, 0, 255) 0%, rgba(0,0,0,0) 60%);
}

#clement {
    grid-column: 4;
    grid-row: 4;
    background: radial-gradient(circle, rgb(157, 255, 0) 0%, rgba(0,0,0,0) 30%);
}

#djibril {
    grid-column: 8;
    grid-row: 9;
    background: radial-gradient(circle, rgb(14,0,255) 0%, rgba(0,0,0,0) 30%);
}

#renan {
    grid-column: 2;
    grid-row: 12;
    background: radial-gradient(circle, rgb(0, 204, 255) 0%, rgba(0,0,0,0) 50%);
}

#eden {
    grid-column: 7;
    grid-row: 14;
    background: radial-gradient(circle, rgb(157, 255, 0) 0%, rgba(0,0,0,0) 60%);
}