:root, body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: var(--text);
    /*background-color: var(--background);*/
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    scrollbar-width: thin;
    overflow-x: hidden;
}

html[data-theme="dark"] {
    --text: #fff;
    --background: #070802;
}

html[data-theme="light"] {
    --text: #070802;
    --background: #fff;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    flex-direction: column;
}

header {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2vh 5vw;
    width: 90vw;
    border-bottom: solid var(--text) 0.003mm;
    justify-content: space-between;
    display: flex;
    place-items: center;

    background-color: var(--background);
    height: 4vh;
    min-height: 50px;
}

#title {
    display: flex;
}

#title a{
    font-weight: 800;
    font-size: x-large;
    text-decoration: none;
    color:  var(--text);
}

#links a{
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    color:  var(--text);
    padding: 1vh 1vw;
    border-radius: 10px;
    
    transition-duration: 0.3s;
    border: 1px solid black;
}

#links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#links .button a:hover{
    color: var(--background);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.9);
}

main {
    background: transparent;
    padding-top: max(8vh, calc(4vh + 50px));
}

.dropbtn {
    border: none;
    background: none;

    font-weight: 700;
    font-size: large;
    text-decoration: none;
    color:  var(--text);
    padding: 1vh 1vw;
    border-radius: 10px;
    
    transition-duration: 0.3s;
    border: 1px solid black;
}

.dropbtn:hover {
    color: var(--background);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.9);
}

#dropdown-content a{
    font-size: small;
    border: none;
}

.dropdown #dropdown-content a:hover{
    color: var(--text);
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover #dropdown-content {
    display: flex;
    flex-direction: column;
}
